<div class="sidebar">
<div class="container sidebar-sticky">
    <div class="sidebar-about">
        <h1>
            <a href="{{ site.baseurl }}">
                <div class="profile-picture">
                    <img src="{{ site.baseurl }}assets/face.png" width="200"></img>
                </div>
                <!-- {{ site.title }} -->
            </a>
        </h1>
        <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
        {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}

        <a class="sidebar-nav-item" href="{{ site.baseurl }}">Blog</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}resume">Resume</a>
        <a class="sidebar-nav-item" href="https://www.github.com/ManasGeorge">GitHub</a>
    </nav>
</div>
</div>
